$primary: #FFDF0A;
$lightprimary: #fefbe4;
$nav: #f7f7f7;
$darkwhite: #EEEEEE;
$lightgray: #CCCCCC;
$gray: #999999;
$lightblack: #666666;
$drakblack:#222222;
$red:#FF344E;
$orange: #FF9600;

$large: 20px;
$default: 16px;
$medium: 14px;
$small: 12px;
$mini: 10px;
