*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body,
#app {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  min-width: 1400px;
  min-height: 720px;
  position: relative;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  display: block;
}